<% provide(:title, @user.name) %>
<div class="calendar-navigation">
  <%= link_to '◀', user_path(@user, month: @date.prev_month.beginning_of_month) %>
  <span>＜ <%= @date.strftime("%Y年 %m月") %> ＞</span>
  <%= link_to '▶', user_path(@user, month: @date.next_month.beginning_of_month) %>
</div>
<div class="calendar">
  <!-- 曜日のヘッダー -->
  <% %w[日 月 火 水 木 金 土].each do |day| %>
    <div class="day-header"><%= day %></div>
  <% end %>

  <!-- 月の各日付 -->
  <% @date.beginning_of_month.step(@date.end_of_month) do |date| %>
    <div class="day <%= 'today' if date == Date.today %>">
      <%= date.day %>
    </div>
  <% end %>
</div>