<% provide(:title, @user.name) %>
<div class="calendar-navigation">
  <%= link_to '◀', user_path(@user, month: @date.prev_month) %>
  <span><%= @date.strftime("%Y年 %m月") %></span>
  <%= link_to '▶', user_path(@user, month: @date.next_month) %>
</div>

<div class="calendar">
  <!-- 曜日のヘッダー -->
  <% %w[日 月 火 水 木 金 土].each do |day| %>
    <div class="day-header"><%= day %></div>
  <% end %>

  <!-- 月の日付 -->
  <% (@start_date..@end_date).each do |date| %>
    <div class="day <%= 'today' if date == Date.today %> <%= 'not-current-month' unless date.month == @date.month %>">
      <%= date.day %>
    </div>
  <% end %>
</div>
<!-- トレーニング追加ボタン -->
<div class="add-training">
  <button class="btn btn-primary">本日のトレーニングを追加</button>
</div>