<!DOCTYPE html> 
<html lang="ja"> 
<head> 
  <meta charset="UTF-8"> 
  <title>トレーニング記録</title> 
  <!-- スタイルシートへのリンク --> 
  <link rel="stylesheet" href="path_to_your_stylesheet.css"> 
</head> 
<body>
  <div class="background-newimage-container">
    <div class="new-form-container"> 
      <h2 class="new-form-title">部位を追加</h2> 
      <%= form_with(model: @exercise, local: true, class: "exercise-form") do |form| %> 
        <div class="new-form-group"> 
          <%= form.label :part, '部位:', class: "new-form-label" %> 
          <%= form.text_field :part, class: "new-form-control" %> 
        </div> 
        <div class="new-form-group"> 
          <%= form.label :exercise, '種目:', class: "new-form-label" %> 
          <%= form.text_field :exercise, class: "new-form-control" %> 
        </div> 
        <div class="new-form-group"> 
          <%= form.submit '追加', class: "btn btn-primary" %> 
        </div> 
      <% end %> 
    </div>
  </div>
</body> 
</html> 