<%= form_with(model: @exercise, local: true) do |form| %>
  <h2><%= @exercise.name %></h2>
  <p>部位: <%= @exercise.part %></p>
  <p>種目名: <%= @exercise.exercise %></p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>セット</th>
        <th>重量(kg)</th>
        <th>回数</th>
        <th>1RM(kg)</th>
        <th>備考</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @exercise.training_records.each_with_index do |record, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><input type="number" name="weight[]" class="input-centered" oninput="updateOneRM(this)"></td>
          <td><input type="number" name="reps[]" class="input-centered" oninput="updateOneRM(this)"></td>
          <td class="one-rm-output"></td>
          <td><input type="text" name="comment[]"></td>
          <td>
            <% if index == @exercise.training_records.size - 1 %>
              <button class="remove-btn" onclick="removeTrainingRecordRow(this)">削除</button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <button type="button" onclick="addTrainingRecordRow()" class="btn btn-primary btn-orange">行を追加</button>
  <%= form.submit "保存", class: "btn btn-primary" %>
<% end %>
