<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ðŸ’ªStrength App", root_path, id: "logo" %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "ãƒˆãƒƒãƒ—", root_path %></li>
      <% if logged_in? %>
        <!-- ãƒ­ã‚°ã‚¤ãƒ³ä¸­ã®ãƒ¦ãƒ¼ã‚¶ãƒ¼åã¨ãƒ­ã‚°ã‚¢ã‚¦ãƒˆãƒªãƒ³ã‚¯ã‚’è¡¨ç¤º -->
        <li><%= link_to current_user.name, user_path(current_user) %></li>
        <li><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", logout_path, data: { turbo_method: :delete } %></li>
      <% else %>
        <li><%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", login_path %></li>
      <% end %>
    </ul>
  </div>
</header>
