<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Strength App ≫", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to current_user do %><i class="fas fa-home"></i><% end %></li>
          <li><%= link_to "新規追加", new_exercise_path %></li>
          <li><%= link_to "一覧表", exercises_path %></li>
          <li><%= link_to "1RM分析", strength_log_exercises_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-turbo="false">
              メニュー <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "情報の更新", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path, class: "login-link" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

